/*
  palette: ;
    rgb(250,166,255)
    rgb(115,83,186)
    rgb(47,25,95)
    rgb(15,16,32)
    rgb(239,195,245)
*/

:root{
  --palette1: 193,223,240; /* lighter bg */
  --palette2: 0,0,0; /* darker text */
  --palette3: 36,110,121; /* dark text */
  --palette4: 45,132,138; /* dark bg */
  --palette5: 136,204,241; /* light bg */
}

body{
  background-color: rgb(var(--palette1));
  color:  rgb(var(--palette2));
}

h2{
  color:  rgb(var(--palette3));
}

strong{
  color: black;
}

.container{
  background-color: rgb(var(--palette5));
  margin-bottom: 64px;
  border-radius: 0 0 64px 64px;
  top:  0;
}

.footer{
  position: fixed;
  width: 100%;
  background-color: rgb(var(--palette4));
  color: rgb(var(--palette1));
  left: 0;
  bottom: 0;
  padding: 4px;
  font-size: 12px;
  z-index: 99999999;
}

.footer a{
  color: rgb(var(--palette5));
}